
nav{
  padding-left: 0%;
}
.jumb{
  
  background-image:url("../images/jumbotron.jpg");
  z-index: -1;
 padding-top:10%; 
  width: 100%;
  height:500px;
  color: black;
 
}
#jumbImage{
  position: relative;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  background-attachment: fixed;
 
}
section{
  margin-top:0;
  height: 90%;
}
.forCard{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 30%;
}
.brandImg{
  align-content: center;
  padding-left: 40%;
}
.col-md-6>img{
  height:500px ;
  width: 600px;
  margin-left: 30%;
}
.contentCenter{
  margin:0% 10% 0% 10%;
  border-radius: 5px;
  padding: 10% 10% 10% 10%;
}
.separatorImg{
  margin-top:10%;
  margin-bottom:5%;
}
footer {
 
  background-color: black;
  color: #f5f5f5;
  padding: 10px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}
#location{
  background-color: black;
  color:white;
  margin-bottom: 0;
}