<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Blogs</title>
</head>

<body>
    <a class="brandImg " href="index.html">
        <img src="../images/beand.jpg" />
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#location">Contact</a>
                </li>
            </ul>
        </div>




    </nav>


    </header>

    <main id="app" role="main">


        <div v-if="articleSelected">

            <section class="container">
                <br>
                <h1> {{fullArticle[0].title }}</h1>

            </section>
        </div>
        <div v-else>

            <section class="container text-center">
                <div v-for="article in articleVector">



                    
                        <div class="card  box-shadow  forCard">
                            <img class="card-img-top" src="./images/jumbotron2.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text text-truncate">{{ article.title }}</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="onView(article._id) ">View</button>


                                    <small class="text-muted">{{ article.date }}</small>
                                </div>
                            </div>


                       


                </div>

            </section>

        </div>

        <section class="container">
            <div class="row">
                <div class="container">
                    <h3 class="text-center">What are the most important lessons travel has taught you?</h3>

                    <div class="row">

                        <div class="col-md-4">
                            <p>
                                Tell us about your experience ,let others know how was your travel experience.
                            </p>

                        </div>
                        <div class="col-md-8">
                            <form id="message-form" autocomplete="on">

                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <input class="form-control" placeholder="Author first and last name " type="text" pattern="(.*)\s(.*)" required title="Name and surname"
                                            size="40" v-model="formData.author">

                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <input class="form-control" placeholder="Title" type="text" required v-model="formData.title">

                                    </div>
                                </div>
                                <div class="row">
                                    <textarea class="form-control" name="comments" placeholder="Article Content" rows="10" v-model="formData.content"></textarea>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <br> Enter today's data:
                                        <input type="date" v-model="formData.date">
                                    </div>
                                    <br>

                                    <div class="col-md-12 form-group">
                                        <button class="btn btn-info pull-right" type="submit" v-on:click="onSubmit">
                                            <i class="fa fa-plus">Add New article</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        </div>
    </main>

    <footer class="text-center">
        <a class="up-arrow" href="#" data-toggle="tooltip" title="Get me up">
            <i class="fa fa-plane"></i>
        </a>
        <br>
        <br>
        <p>
            Thank you for visit

        </p>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./javascripts/blog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
</body>

</html>